body {
  background-image: url("https://media.nature.com/lw800/magazine-assets/d41586-018-05381-w/d41586-018-05381-w_15827500.jpg");
}

#title {
  text-align: center;
  margin: 20px auto 5px;
  color: blue;
}

#description {
  font-style: Zen Old Mincho;
  font-size: 15px;
  margin: 5px auto;
  text-align: center;
  color: blue;
}

#survey-form {
  background-color: #121046;
  margin: 10px auto;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  width: 50%;
  /* height: 100%; */
}

#texts {
  /* height: 100vh; */
  font-size: 20px;
}

#name {
  width: 100%;
  height: 30px;
  border-radius: 8px;
}
#email, #number, #dropdown, #dropdown2 {
  width: 100%;
  height: 30px;
  border-radius: 8px;
}

.textarea {
  /* display: flex; */
  width: 100%;
}

#submit {
  background-color: green;
  color: white;
  width: 100%;
  height: 40px;
  font-size: 18px;
}

@media screen and (max-width: 884px) {
  #survey-form {
    margin: 3rem auto;
    padding: 25px;
    border-radius: 5px;
    width: 70%;
  }
}
